@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family: "Faktum Test", sans-serif;
}

.rectangleBox {
  width: 300px;
  height: 200px;
  border: 1px solid #000;
  position: relative;
}

.slider {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
}


@import url("https://fonts.cdnfonts.com/css/faktum-test");
